contourpy==1.4.0
cycler==0.12.1
devsim==2.11.0
fonttools==4.65.0
iniconfig==2.3.0
intel-cmplr-lib-ur==2026.1.2
intel-openmp==2026.1.2
kiwisolver==1.5.1
matplotlib==3.11.2
mkl==2026.1.0
numpy==2.5.3
onemkl-license==2026.1.0
packaging==26.3
pandas==3.0.6
pillow==12.3.0
pluggy==1.6.0
Pygments==2.21.0
pyparsing==3.3.3
pytest==9.1.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
scipy==1.18.1
six==1.17.0
tbb==2023.1.0
tcmlib==1.5.0
umf==1.1.0
